<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .application {
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <header><h1>Airport List</h1></header>
    <div id="app">
      <div class="application">
        <p>Please enter the airport code you want to search from below.</p>
        <div>
          <li v-for="value in airport" :key="airport.index">
            {{ value.arpCode }}
          </li>
        </div>
        <div>
          <input type="text" v-model="targetCode" />
          <button v-on:click="search">search!</button>
        </div>
        <div>
          <div v-if="found">
            <div>Code: {{ targetCode }}</div>
            <div>City: {{ targetCity }}</div>
            <div>Enplanements: {{ targetEnp }}</div>
          </div>
          <div v-else>Sorry, not found.</div>
        </div>
      </div>
      <div class="application">
        <p>
          Please type the departure and destination. This app calculates the
          ticket price.
        </p>
        <div>
          <span>Departure</span>
          <input type="text" v-model="dep" />
        </div>
        <div>
          <span>Destination</span>
          <input type="text" v-model="des" />
        </div>
        <div>
          <button v-on:click="recipt">search!</button>
        </div>
        <div>
          <div>Departure: {{ dep }}</div>
          <div>Destination: {{ des }}</div>
          <div>Ticket price: {{ targetPrice }}</div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
